.typewriter-headline {
  font-size: 2rem;
  margin: 0.75rem 0;
  color: var(--color-primary);
}

.title {
  margin: 0.5rem 0 0;
  font-size: 2.5rem;
}

.last-name {
  position: relative;
}

.apostrophe {
  position: absolute;
  top: -10px;
  left: 119px;
  transform: rotate(35deg);
}

.home-link {
  color: var(--color-primary);
  font-weight: 500;
  position: relative;
}

.home-link::before {
  position: absolute;
  content: "";
  background: var(--color-primary);
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  transition: 0.5s ease;
}

.home-link:hover {
  opacity: 0.8;
}

.home-link:hover::before {
  width: 6rem;
}

.desc {
  text-align: justify;
  line-height: 2;
  margin: 0;
}
