.main {
  max-width: calc(var(--width-desktop) - 12vw);
  padding: 0.5rem;
}

.side-section {
  margin-left: calc(var(--width-desktop) - 12vw);
  width: 10vw;
}

@media screen and (max-width: 768px) {
  .side-section {
    width: 100%;
    position: relative;
    left: 12vw;
    margin-left: 0;
  }
}
