.top-shadow {
  position: fixed;
  left: 0;
  height: 10vh;
  z-index: 2;
  width: 100%;
  background: linear-gradient(var(--color-body), transparent);
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--width-desktop);
}

.column-right {
  flex: 1;
  padding: 5vh 2rem;
  position: relative;
}

.column-left {
  top: 0;
  padding: 5vh 2rem;
  position: sticky;
  display: flex;
  justify-content: space-between;
  flex: 1;
  max-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
}

.typewriter-headline {
  font-size: 2.75rem;
  margin: 0;
  color: var(--color-primary);
}

.title {
  margin: 0;
  font-size: 2.5rem;
}

.desc {
  text-align: justify;
  line-height: 2;
}

@media screen and (max-width: 954px) {
  .container {
    flex-direction: column;
  }
  .column-left {
    position: relative;
    max-height: none;
  }
}
