* {
  cursor: inherit;
}

.txt-date {
  flex: 1;
  text-align: end;
}

.div-parent {
  position: relative;
  margin-top: -10vh;
}

.child-txt {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.child-shape {
  height: 100vh !important;
}

.heading-sphere {
  top: 0;
  position: absolute;
}

.blinking {
  animation: blinking 1s ease-out infinite;
}

.heading span {
  display: inline-block;
  transition: 0.5s ease;
}

.heading h2 {
  text-align: center;
  line-height: 1;
}

.resume-content {
  margin-bottom: 2rem;
}

.resume-content-item {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.resume-content-item-desc {
  flex: 1;
}

.resume-content-item-desc h2:first-child {
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .heading {
    text-align: center;
  }

  .heading h2:nth-child(2) {
    text-align: center;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
