.heading {
  margin-bottom: 2vh;
}

.heading h2 {
  font-size: 14vw;
  font-weight: 800;
  line-height: 1;
}

.heading h2:nth-child(2) {
  text-align: end;
}

@media screen and (max-width: 768px) {
  .heading h2 {
    margin: 0 12vw;
  }
}
