.contact-form {
  margin: 1rem 0;
}

.contact-form button > svg {
  fill: #fff !important;
  height: 1.25rem !important;
  animation: rotating 1s linear infinite;
}

.contact-form button > svg:hover {
  fill: #fff;
  cursor: none;
}

@media screen and (max-width: 768px) {
  .contact-form button {
    width: 100%;
    justify-content: center;
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
