.form-field-input {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.form-field-icon {
  top: 0;
  width: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: var(--color-primary);
}

input,
textarea {
  border-radius: 10px;
  resize: none;
  border: 1px solid transparent;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  padding: 1rem 1rem 1rem 2.5rem;
  font-family: var(--body-font);
  color: var(--color-title);
  background-color: var(--color-body);
}

textarea {
  margin-bottom: 0;
  padding: 1rem;
}

input::placeholder,
textarea::placeholder {
  letter-spacing: 1px;
  color: var(--color-text-light);
}

.form-field-label {
  align-items: baseline;
  display: inline-flex;
}

.form-field-label label {
  text-transform: capitalize;
  font-size: 0.925rem;
  font-weight: 600;
  margin: 0 0.5rem 0.25rem 0;
  color: var(--color-title);
  letter-spacing: 1px;
}

.input-error-field {
  border: 1px solid var(--color-primary);
}

.input-error-message {
  letter-spacing: 1px;
  font-size: 0.825rem;
  color: var(--color-primary);
}

.form-field-length-indicator {
  margin-right: 0.25rem;
  text-align: end;
  color: var(--color-text-light);
  font-size: 0.75rem;
}
