.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.about-title {
  text-align: center;
}

.about-content {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.about-rounder {
  box-sizing: border-box;
  width: var(--font-size-1);
  height: var(--font-size-1);
  background-color: var(--color-primary);
  border-radius: 50%;
  border: 2px solid var(--color-primary-light);
  position: relative;
  left: -1.5rem;
  top: var(--font-size-1-25);
}

.about-line {
  position: absolute;
  left: -16px;
  top: 24px;
  width: 1px;
  height: 100%;
  background-color: var(--color-primary);
}

.about-content-container {
  padding: 1rem;
  margin: 1rem;
  position: relative;
  flex: 1;
  max-width: 300px;
  box-sizing: border-box;
}

.about-content-container-title {
  display: flex;
}

.about-content h3 {
  font-size: 1.25rem;
  color: var(--color-primary);
  margin: 0.75rem 0;
}

.about-content p {
  font-style: italic;
  font-size: var(--font-size-1);
  color: var(--color-text);
}

.icon-calendar {
  margin-right: var(--margin-0-5);
  width: var(--font-size-0-75);
  height: var(--font-size-0-75);
  fill: var(--color-primary);
}

.icon-education,
.icon-suitcase {
  margin-right: var(--margin-0-5);
  fill: var(--color-primary);
  width: var(--font-size-1-5);
  height: var(--font-size-1-5);
}
