.about-item {
  background: var(--color-input);
  flex: 1;
  height: 100%;
  margin: 1rem 0;
  padding: 2rem;
  transition: 0.5s ease;
  border-right: 4px solid hsl(var(--color-hue), 70%, 95%, 0.1);
}

.about:hover .about-item {
  opacity: 0.3;
}

.about .about-item:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
  border-right: 4px solid var(--color-primary);
}

.about-item-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.about-item-title::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 2rem;
  height: 2px;
  background-color: var(--color-primary);
}

.about-item-content {
  display: flex;
  align-items: baseline;
  margin: 1rem 0;
  font-weight: 600;
}

.about-item-content-date {
  margin-right: 2rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--color-primary);
  letter-spacing: 2px;
  width: 10rem;
}

.about-item-content-headline {
  margin: 0;
  color: var(--color-title);
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.about-item-content-description {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.825rem;
}

#about .btn-outline {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}
