.accordion-item {
  background: var(--color-input);
  margin: 0 0 1rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px hsla(var(--color-hue), 10%, 10%, 0.08);
}

.accordion-item:hover .icon {
  fill: var(--color-primary);
}

.accordion-item-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.25s ease;
  cursor: pointer;
  font-weight: 500;
}

.accordion-item-label .icon {
  margin-left: 1rem;
  transform: rotate(180deg);
  transition: 0.5s ease;
}

.accordion-item-active .icon {
  transform: rotate(0deg);
}

.accordion-item-label-headline {
  color: var(--color-title);
}

.accordion-item-text {
  margin: 0 2rem 0 0;
  max-height: 0;
  overflow: hidden;
  text-align: justify;
  font-size: 0.925rem;
  transition: max-height 0.5s;
}

.accordion-item-text-open {
  transition: max-height 1s ease-in-out;
  max-height: 100vh;
}
