.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  border: none;
  border-radius: 10px;
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 1.125rem;
  transition: 0.4s;
  letter-spacing: 1px;
  margin-top: 2rem;
  padding: 0;
  width: 100%;
  height: 3.25rem;
  color: var(--color-black);
  background: hsl(var(--color-hue), 75%, 73%);
}

.btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btn-label {
  flex: 1;
  transition: 0.5s ease;
  position: relative;
}

.btn-label::before {
  position: absolute;
  content: "";
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  z-index: -1;
  transition: 0.5s ease;
}

.btn:not(:disabled):hover .btn-label::before {
  left: 0;
}

.btn-icon {
  width: 4rem;
  background: var(--color-primary);
}

.btn:hover {
  transform: translateY(-3px);
}

.btn:disabled {
  cursor: not-allowed;
  background: var(--color-primary-light);
}
