.btn {
  overflow: hidden;
  text-align: center;
  border: 0.1vw solid var(--color-white);
  font-family: var(--body-font);
  margin-top: 2rem;
  padding: 1vh;
  width: 100%;
  color: var(--color-white);
  background: black;
}
