.btn {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  font-size: var(--font-size-1-25);
  font-family: var(--body-font);
  font-weight: 600;
  box-shadow: hsla(var(--color-hue), 31%, 20%, 0.4) 0 2px 4px,
    hsla(var(--color-hue), 31%, 20%, 0.3) 0 7px 13px -3px,
    hsla(var(--color-hue), 6%, 28%, 0.5) 0 -3px 0 inset;
  cursor: pointer;
  transition: 0.4s;
}

.btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: var(--color-text-light);
}

.btn-primary {
  color: #fff;
  background-color: var(--color-primary);
}

.btn-primary .icon {
  fill: #fff;
  height: 1.5rem;
  margin-left: 0.5rem;
}

.btn-outline {
  border: none;
  color: var(--color-title);
  background-color: var(--color-container);
}

.btn-outline .icon {
  fill: var(--color-title);
  margin-left: 0.5rem;
}
