.color-dropdown {
  position: relative;
}

.color-dropdown-header {
  display: flex;
  cursor: pointer;
  transition: 0.4s;
}

.color-dropdown-header:hover {
  color: var(--color-primary);
}

.color-dropdown-header:hover b {
  color: var(--color-title);
}

.color-dropdown-list {
  padding: 0.75rem;
  position: absolute;
  border-radius: 8px;
  box-shadow: 1px 1px 2px hsl(0deg 8% 40% / 50%);
  top: 2.125rem;
  left: -1rem;
  background-color: var(--color-body);
}

.color-dropdown-item {
  cursor: pointer;
}

.color-dropdown-item:hover {
  color: var(--color-text);
}
