.color-dropdown {
  position: relative;
}

.color-dropdown-header {
  display: flex;
}

.color-dropdown-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  position: absolute;
  border-radius: 8px;
  box-shadow: 1px 1px 2px hsl(0deg 8% 40% / 50%);
  top: 2.125rem;
  left: -1rem;
  background-color: var(--color-body);
}

.color-dropdown-item {
  box-sizing: border-box;
  height: var(--font-size-1-25);
  width: var(--font-size-1-25);
  border-radius: 50%;
  margin-right: var(--margin-0-5);
  cursor: pointer;
}
