.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  position: relative;
  z-index: 2;
}

.sending-mails {
  z-index: 1;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-form button {
    width: 100%;
    justify-content: center;
  }
}
