.night-mode-switch {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--color-input);
  transition: 1s ease;
  overflow: hidden;
  animation: fade-in 1.5s ease;
}

.night-mode-switch:hover .icon {
  fill: var(--color-primary);
}

.night-mode-switch .icon {
  animation: day-shift 0.5s ease;
}
