.night-mode-switch {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--color-input);
  transition: 0.35s ease;
}

.night-mode-switch:hover {
  transform: scale(1.1);
}

.night-mode-switch:hover .icon {
  fill: var(--color-primary);
}
