.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 0.825rem;
  width: 100%;
  padding: 0 0.5rem;
  color: var(--color-text-light);
  margin-top: -0.5rem;
}

.footer-links {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.footer-copyright {
  text-align: end;
}

@media screen and (max-width: 421px) {
  .footer-copyright {
    display: none;
  }
}
