.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-image {
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 0.5rem;
  background: var(--color-input);
  box-shadow: 0 1px 3px 0 hsla(0, 0%, 0%, 0.1),
    0 1px 2px 0 hsla(0, 0%, 0%, 0.06);
  transition: 0.5s ease-in-out;
}

.footer-content {
  display: flex;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-link {
  display: flex;
  align-items: center;
  font-size: 0.825rem;
  letter-spacing: 1px;
  color: var(--color-text);
}

.footer-link-label {
  margin-left: 0.5rem;
}

.footer-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--color-input);
  box-shadow: 0 1px 3px 0 hsla(0, 0%, 0%, 0.1),
    0 1px 2px 0 hsla(0, 0%, 0%, 0.06);
  transition: 0.5s ease-in-out;
  margin-right: 0.25rem;
}

.footer-link:hover,
.footer-link:hover svg {
  fill: var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
}

.footer-actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem;
}

@media screen and (max-width: 954px) {
  #row-swap-icon {
    display: none;
  }
}
