.container {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--width-desktop);
}

.column-right {
  flex: 1;
  padding: 5vh 2rem;
  position: relative;
}

.column-left {
  top: 0;
  padding: 5vh 2rem;
  position: sticky;
  display: flex;
  justify-content: space-between;
  flex: 1;
  min-width: 300px;
  max-height: 90vh;
  flex-direction: column;
  align-items: flex-start;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.typewriter-headline {
  font-size: 2.75rem;
  margin: 0;
  color: var(--color-primary);
}

.title {
  margin: 0;
  font-size: 2.5rem;
}

.desc {
  text-align: justify;
  line-height: 2;
}

.info {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-link {
  font-size: 0.825rem;
  display: flex;
  align-items: center;
  text-decoration: underline;
  color: var(--color-text);
}

.contact-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  margin: 0 0.5rem;
  background: var(--color-input);
}

.contact-link:hover,
.contact-link:hover svg {
  fill: var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
}

.my-photo {
  width: 5rem;
  height: 5rem;
  background: var(--color-input);
}

@keyframes pulsate {
  0% {
    transform: rotate(45deg) scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) scale(3, 3);
    opacity: 0;
  }
}

.row {
  display: flex;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .column-left {
    position: relative;
    max-height: none;
  }
}
