.container {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--width-desktop);
}

.column-right {
  flex: 1;
  padding: 2rem;
}

.column-left {
  padding: 2rem;
  position: sticky;
  top: 10%;
  display: flex;
  flex: 1;
  min-width: 300px;
  max-height: 600px;
  flex-direction: column;
  align-items: flex-start;
}

.actions {
  position: absolute;
  top: 3rem;
  left: -3rem;
}

.typewriter-headline {
  font-size: 3rem;
  margin: 0;
  color: var(--color-primary);
}

.title {
  margin: 0;
  font-size: 2rem;
}

.desc {
  line-height: 2;
}

.info {
  display: flex;
  align-items: center;
}

.contact-link {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  text-decoration: underline;
  color: var(--color-text);
}

.contact-link .icon {
  margin: 0 0.5rem;
}

.contact-link:hover,
.contact-link:hover svg {
  fill: var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
}

.my-photo {
  width: 4rem;
  height: 4rem;
  background: var(--color-primary);
  border-radius: 50%;
}
