.home {
  flex: 1;
  margin-bottom: 100vh;
}

.home a {
  display: inline-flex;
}

.home-title .Typewriter {
  display: inline;
  color: var(--color-primary);
}

.home-subtitle {
  font-size: var(--font-size-1-25);
  color: var(--color-text);
  margin-bottom: 0.75rem;
}

.home-description {
  text-align: justify;
  margin-bottom: var(--margin-2);
}

.home-blob {
  fill: var(--color-primary);
}

.home-content,
.home-image-container {
  flex: 1;
}

.home-image-container {
  background-color: var(--color-primary);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  mask-image: url("../assets/icons/home-blob.svg");
  mask-repeat: no-repeat;
}

.home-img {
  max-width: 100%;
  left: var(--margin-1-5);
  position: relative;
}

.scroll-down {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
  margin-top: 3.5rem;
  padding: 0 2rem;
}

.scroll-down:hover {
  transform: translateY(4px);
}

.scroll-down .icon-arrow-up {
  margin-left: 0.25rem;
  height: 1rem;
  transform: rotate(180deg);
  fill: var(--color-text);
}

.scroll-down-container {
  width: 1rem;
  height: 2rem;
  border-radius: 8px;
  border: 2px solid var(--color-text);
  position: relative;
  margin-right: 1rem;
}

.scroll-down-bubble {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-text);
  position: absolute;
  left: 2px;
  animation: animation-move-up-down 1.5s linear infinite;
}

@media screen and (max-width: 768px) {
  .home {
    flex-direction: column-reverse;
    text-align: center;
  }

  .home button {
    margin: auto;
  }

  .scroll-down {
    display: none !important;
  }
}

@keyframes animation-move-up-down {
  0%,
  100% {
    bottom: 4px;
  }
  50% {
    bottom: 16px;
  }
}

.color-primary {
  color: var(--color-primary);
}

.comment {
  font-style: italic;
  font-weight: 600;
}

.white {
  color: var(--color-title);
}
