.link {
  display: inline-flex;
  align-items: center;
  outline: none;
}

.link-icon + .link-label {
  margin: 0 0.5rem;
  font-size: 0.825rem;
  color: var(--color-text-light);
}

.link-icon .icon {
  fill: var(--color-text);
  height: 1rem;
}

.link-label {
  font-size: 0.825rem;
  color: var(--color-text-light);
  font-weight: 500;
  position: relative;
}

.link-label:hover {
  opacity: 0.8;
}
