.icon {
  height: 1.5rem;
  fill: var(--color-text);
  cursor: pointer;
}

.icon:hover {
  fill: var(--color-primary);
}

.header {
  margin: 2.5rem 0;
  z-index: var(--z-index-100);
}

.nav {
  font-weight: 600;
  color: var(--color-title);
  background-color: var(--color-body);
  max-width: var(--width-desktop);
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
}

.nav-left {
  display: flex;
  align-items: center;
}

.night-mode-switch {
  display: flex;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 1rem 0;
  transition: 0.5s;
  display: flex;
}

.dash {
  width: 3rem;
  height: 2px;
  margin: 0 1rem;
  background-color: var(--color-title);
  transition: 0.5s ease;
}

.nav-link {
  color: var(--color-title);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-link:hover {
  color: var(--color-primary);
}
.nav-link:hover .dash {
  background-color: var(--color-primary);
}
.active .dash {
  width: 5rem;
  background-color: var(--color-primary);
}
.active a {
  color: var(--color-primary);
}

.nav-toggle {
  display: flex;
}

.nav-close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  height: 1.5rem;
  fill: var(--color-text);
}

.nav-menu {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    width: 100%;
    height: initial;
    position: fixed;
    top: -100%;
    left: 0;
    padding: 3rem;
    box-shadow: 1px -5px 15px hsl(0deg 8% 40% / 50%);
    border-radius: 0 0 1.5rem 1.5rem;
    transition: 0.5s;
    background-color: var(--color-body);
    box-sizing: border-box;
  }

  .nav-item {
    margin: 1rem;
  }

  .header {
    border-radius: 0 0 1.5rem 1.5rem;
  }
}

@media screen and (min-width: 769px) {
  .nav-toggle,
  .nav-close {
    display: none;
  }
}

.show-menu {
  top: 0;
}
