.nav {
  top: 0;
  left: 0;
  margin: 0 var(--margin-left);
  max-width: var(--width-desktop);
  height: var(--nav-height);
  position: fixed;
  z-index: 1;
}

.nav-header {
  background-color: var(--color-black);
  left: 1.25rem;
  top: 4.125rem;
  font-size: 1.5rem;
  position: absolute;
}

.nav-toggle {
  top: 3.5rem;
  left: calc(var(--width-desktop) - 6.25vw - 1.5rem);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-black);
  border: 2px solid var(--color-gray-two);
}

.nav-toggle-dash {
  position: relative;
  width: 1.5rem;
  height: 3px;
  border-radius: 1px;
  background-color: var(--color-white);
}

.nav-toggle-dash::before {
  position: absolute;
  content: "";
  top: -0.5rem;
  left: 0.25rem;
  width: 1rem;
  height: 3px;
  background-color: var(--color-white);
}

.nav-toggle-dash::after {
  position: absolute;
  content: "";
  top: 0.5rem;
  right: 0.25rem;
  width: 1rem;
  height: 3px;
  background-color: var(--color-white);
}

.nav-menu {
  top: 8rem;
  left: calc(var(--width-desktop) - 3.125vw * 1.5 - 20rem);
  position: absolute;
  width: 20rem;
  border: 2px solid var(--color-gray-two);
  background-color: var(--color-black);
}

.nav-menu-heading {
  padding: 0.5rem 1rem;
  border-bottom: 2px solid var(--color-gray-two);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu-heading-title {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

ul {
  margin: 0;
  padding: 0 1rem;
}

.nav-item {
  padding: 0.5rem 0;
}

.nav-item:hover .icon-arrow-right {
  opacity: 1;
}

.nav-item:hover .nav-link-txt {
  transform: translateX(0.25rem);
}

.nav-item:not(:last-child) {
  border-bottom: 2px solid var(--color-gray-two);
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--color-white);
}

.nav-link-txt {
  display: flex;
  align-items: center;
  flex: 1;
  transition: 0.25s ease;
  font-weight: 400;
  letter-spacing: 2px;
}

.icon-external-link {
  width: 1.5rem;
  margin-right: 0.75rem;
}

.icon-arrow-right {
  opacity: 0;
  transition: 0.5s ease;
  width: 1.5rem;
}

.active {
  color: var(--color-primary);
}
