.nav {
  position: fixed;
  top: 55%;
  left: calc(var(--width-desktop) + 20vw);
  transform: translateY(-50%);
  width: 4rem;
  z-index: 1;
  opacity: 0;
  animation: txtFadeIn 3s 2.5s ease forwards;
}

.night-mode-switch {
  display: flex;
}

.nav-list {
  padding: 0;
}

.nav-item {
  margin: 5vw 0;
  transition: 0.5s;
  display: flex;
  transform: rotate(90deg);
}

.nav-link {
  cursor: pointer;
  color: var(--color-title);
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  font-size: 0.825vw;
  padding: 0.5rem;
}

.nav-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 7vh;
  left: calc(var(--margin-left) + var(--width-desktop) + 1rem);
  z-index: 2;
  width: 4rem;
  height: 4rem;
}

.nav-toggle-txt {
  flex: 1;
  font-size: 0.75vw;
}

.nav-toggle-shape {
  flex: 1;
}

.nav-toggle-dash {
  left: -2rem;
  width: 1rem;
  height: 2px;
  background: var(--color-white);
  position: relative;
  transition: 0.35s ease-in-out;
}

.nav-toggle-dash::after,
.nav-toggle-dash::before {
  position: absolute;
  content: "";
  width: 0.75rem;
  height: 2px;
  background: var(--color-white);
  transition: 0.35s ease-in-out;
}

.nav-toggle-dash::before {
  top: -8px;
  right: 0.25rem;
}

.nav-toggle-dash::after {
  top: 8px;
  left: 0.25rem;
}

.nav-toggle.close .nav-toggle-dash {
  background: transparent;
}

.nav-toggle.close .nav-toggle-dash::before {
  transform: rotate(45deg) translate(4px, 8px) scale(1.5, 1);
}

.nav-toggle.close .nav-toggle-dash::after {
  transform: rotate(-45deg) translate(6px, -4px) scale(1.5, 1);
}

.nav-settings {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}

.nav {
  top: 0;
  left: 0;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: var(--margin-left);
  top: -100vh;

  transition: 0.5s ease-in-out;
  z-index: 2;
  background: black;
}

.nav-link {
  font-size: 2rem;
  font-weight: 600;
}

.nav-item {
  max-width: var(--width-desktop);
  transform: rotate(0deg);
  margin: 1rem;
  position: relative;
}

.nav-item:hover .nav-item-shape {
  opacity: 1;
}

.nav-item .nav-item-shape {
  width: 5rem !important;
  background: red;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.show-menu .nav-item:first-of-type {
  opacity: 0;
  animation: txtFadeInDown 1.25s 0.25s ease forwards;
}

.show-menu .nav-item:nth-of-type(2) {
  opacity: 0;
  animation: txtFadeInDown 1.25s 0.5s ease forwards;
}

.show-menu .nav-item:last-of-type {
  opacity: 0;

  animation: txtFadeInDown 1.25s 0.75s ease forwards;
}

.show-menu + .nav-toggle .nav-toggle-dash::before,
.show-menu + .nav-toggle .nav-toggle-dash::after {
  background: var(--color-white);
}

.show-menu {
  top: 0;
  transition: 0.75s ease-in;
  z-index: 2;
}

@keyframes menuOpen {
  0% {
    top: 100vh;
  }

  100% {
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav-toggle {
    left: calc((var(--width-desktop) - 1.675rem));
  }
}
