.section {
  min-height: 100vh;
  border-radius: 8px;
  margin: auto;
  max-width: var(--width-desktop);
  display: flex;
  justify-content: center;
}

.section-title {
  font-size: var(--font-size-3);
}

.section-subtitle {
  font-size: var(--font-size-0-75);
}
