.badge {
  border-radius: 4px;
  text-align: center;
  padding: 0.125rem 0.5rem;
  background: hsla(var(--color-hue), 70%, 75%, 0.15);
  color: var(--color-title);
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media screen and (max-width: 420px) {
  .services .card-icon {
    display: none;
  }
}
