.service-cards:hover .service-card {
  opacity: 0.5;
}

.service-cards .service-card:hover {
  opacity: 1;
  transform: scale(1.1);
}

.service-card {
  position: relative;
  cursor: default;
  transition: 0.25s;
  margin: 1rem 0;
  padding: 2rem;
  background: var(--color-input);
}

.service-card-content:hover .service-card-content-title::before {
  width: 3.5rem;
}

.service-card-icon {
  display: none;
  top: -0.75rem;
  left: 2rem;
  padding: 0 1rem;
  background-color: var(--color-body);
  position: absolute;
  z-index: 1;
}

.service-card-icon .icon {
  fill: var(--color-primary);
}

.service-card-content-badge {
  text-align: center;
  padding: 0.25rem 0.5rem;
  background: var(--color-container);
  color: var(--color-primary);
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.service-card-content-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.service-card-content-badge-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 0.925rem;
  color: var(--color-title);
}

.service-card-content-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.service-card-content-title::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 2rem;
  height: 2px;
  background-color: var(--color-primary);
  transition: 0.5s ease;
}

.service-card-content-desc {
  text-align: justify;
}
