.settings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

@media screen and (max-width: 954px) {
  #row-swap-icon {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .settings {
    display: flex;
  }
}
