.settings {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

@media screen and (max-width: 954px) {
  #row-swap-icon {
    display: none;
  }
  .settings {
    flex-direction: row;
  }
}
