.settings {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem 0;
}

@media screen and (max-width: 954px) {
  #row-swap-icon {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .settings {
    display: flex;
  }
}
