.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1;
}

.skills-content {
  align-items: baseline;
  text-align: justify;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin: 1rem 0;
}

.skills-description {
  text-align: justify;
}

.skills-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.skills-item {
  padding: 0.5rem;
}

.skills-item-badge {
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  border-bottom: 3px solid var(--color-primary);
  margin-right: 0.75rem;
  color: var(--color-title);
  background-color: var(--color-input);
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 600;
  transition: 0.4s;
}

.skills-item-badge:hover {
  cursor: pointer;
  transform: translate(2px, -2px);
}

.skills-item-badges {
  gap: 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.skills-item-title {
  margin: 0 0 1rem;
  padding: 0.25rem 0;
  text-align: center;
  border-bottom: 1px solid var(--color-primary-light);
}

.download-cv-container {
  margin: var(--margin-2) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  background-color: var(--color-primary);
  border-radius: 1rem;
  padding: 2rem 2rem 0;
}

.download-cv-container-title {
  color: #fff;
  margin: 1rem 0;
}

.download-cv-container button {
  margin: 2rem 0;
}

.download-cv-container img {
  max-width: 100%;
  max-height: 300px;
}

@media screen and (max-width: 1071px) {
  .download-cv-container button {
    margin: inherit auto;
    width: 100%;
    justify-content: center;
  }
}
