.skill-bars {
  margin: 0 0 2rem;
}

.skill-bar {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: var(--color-input);
  z-index: 1;
}

.skill-bar-label {
  margin: 0;
  font-size: 0.825rem;
  margin: 1.5rem 0 0.125rem;
  color: var(--color-title);
}

.skill-bar-percent {
  position: absolute;
  top: 0;
  height: 4px;
  background-color: var(--color-primary);
}

.tool {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 6rem;
  min-height: 7rem;
  padding: 0.5rem;
  background-color: var(--color-input);
  transition: 0.25s ease;
  cursor: pointer;
}

.tool-label {
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
}

.tool-label::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 1rem;
  height: 2px;
  background-color: var(--color-primary);
  transition: 0.5s ease;
}

.tool .icon {
  fill: var(--color-primary);
}

.tool:hover {
  transform: scale(1.1);
  background-color: var(--color-container);
}

.tool:hover .tool-label::before {
  width: 2rem;
}

.tools {
  margin: 2rem 0;
  display: grid;
  grid-gap: 0.25rem;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  grid-template-areas:
    "a b ."
    "c . d"
    "e f ."
    "g . h";
}

#a {
  grid-area: a;
}

#b {
  grid-area: b;
}

#c {
  grid-area: c;
}

#d {
  grid-area: d;
}

#e {
  grid-area: e;
}

#f {
  grid-area: f;
}

#g {
  grid-area: g;
}

#h {
  grid-area: h;
}
