button {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  font-size: var(--font-size-1-25);
  font-family: var(--body-font);
  font-weight: 600;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.btn-primary {
  color: #fff;
  background-color: var(--color-primary);
}

.btn-outline {
  border: none;
  color: var(--color-title);
  background-color: var(--color-container);
}

.home-mail-send-icon {
  margin-left: 0.5rem;
}
