.app {
  max-width: var(--width-desktop);
  margin: auto;
  display: flex;
  min-height: 100%;
  background: linear-gradient(var(--color-input), var(--color-input))
      calc(1 * 100% / 6),
    linear-gradient(var(--color-input), var(--color-input)) calc(2 * 100% / 6),
    linear-gradient(var(--color-input), var(--color-input)) calc(3 * 100% / 6),
    linear-gradient(var(--color-input), var(--color-input)) calc(4 * 100% / 6),
    linear-gradient(var(--color-input), var(--color-input)) calc(5 * 100% / 6);
  background-size: 1px 100%;
  background-repeat: no-repeat;
}

.app-main-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--width-desktop);
}

.app-main-container-column-left {
  top: 0;
  padding: 5vh 2rem;
  position: sticky;
  display: flex;
  justify-content: space-between;
  flex: 1;
  max-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
}

.app-main-container-column-right {
  flex: 1;
  padding: 5vh 2rem;
  position: relative;
}

.icon {
  height: 1.25rem;
  fill: var(--color-text);
  cursor: pointer;
}

.icon:hover {
  fill: var(--color-primary);
}

.top-shadow {
  position: fixed;
  left: 0;
  height: 10vh;
  z-index: 2;
  width: 100%;
  background: linear-gradient(var(--color-body), transparent);
}

.headline {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 3px;
  color: var(--color-title);
  text-transform: uppercase;
  position: relative;
}

.card-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  margin-top: 0;
}

.card-title::before {
  position: absolute;
  content: "";
  bottom: -2px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-primary);
  transition: 0.5s ease;
}

.primary {
  color: var(--color-primary);
}

@media screen and (max-width: 954px) {
  .app-main-container {
    flex-direction: column;
  }
  .app-main-container-column-left {
    position: relative;
    max-height: none;
    order: initial !important;
  }
}

@keyframes day-shift {
  from {
    transform: translateY(2rem);
  }

  to {
    transform: translateY(0rem);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.curved-borders .footer-link-icon,
.curved-borders .footer-image,
.curved-borders .color-switch,
.curved-borders .night-mode-switch,
.curved-borders .nav-toggle,
.curved-borders .number,
.curved-borders .progress-bar::before,
.curved-borders .progress-bar-pulse,
.curved-borders .color-item,
.curved-borders .contact-form-modal-content-icon,
.curved-borders .loader-square,
.curved-borders .border-icon {
  border-radius: 50%;
}

.curved-borders .btn,
.curved-borders .btn::before {
  border-radius: 100px;
}

.curved-borders input,
.curved-borders textarea,
.curved-borders .accordion-item,
.curved-borders .about-item,
.curved-borders .skill-card,
.curved-borders .skill-card::before,
.curved-borders .service-card,
.curved-borders .service-card-content-badge,
.curved-borders .modal {
  border-radius: 10px;
}

.row-swap .app-main-container-column-left {
  order: 2;
}

.row-swap .progress-bar {
  left: 0;
}
