.App {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  max-width: var(--width-desktop);
}

h2 {
  font-weight: 500;
  font-size: 5vw;
  margin: 0;
  line-height: 1.25;
}

.grid-wrapper {
  position: fixed;
  display: flex;
  top: 0;
}

.grid-line {
  width: 1px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
}

.grid-line:nth-child(2) {
  margin-left: calc(var(--width-desktop) - 12vw);
}

.grid-line:nth-child(3) {
  margin-left: 12vw;
}

.txt-outlined {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.txt-title {
  font-size: 8vw;
}

.section-title {
  font-size: 8vw;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: end;
  position: relative;
}

.section-title::before {
  content: "";
  position: absolute;
  width: 8vw;
  height: 0.5vw;
  bottom: 1.5vw;
  right: 0.5vw;
  background: white;
}

.side-section-title {
  text-align: end;
  font-weight: 400;
  margin: 2rem 0 0;
}
