@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --color-hue: 160;
  --color-primary: hsl(var(--color-hue), 80%, 74%);
  --color-primary-two: hsl(var(--color-hue), 55%, 55%);
  --color-primary-light: hsl(var(--color-hue), 90%, 90%);
  --color-title: hsl(var(--color-hue), 0%, 100%);
  --color-text: hsl(var(--color-hue), 8%, 100%);
  --color-text-light: hsl(var(--color-hue), 8%, 100%);
  --color-input: hsl(var(--color-hue), 6%, 15%);
  --color-body: hsl(var(--color-hue), 4%, 10%);
  --color-container: hsl(var(--color-hue), 25%, 20%);
  --color-black: hsl(var(--color-hue), 10%, 17%);

  --font-body: "Poppins", sans-serif;

  --width-desktop: 60vw;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  background-color: black;
  font-size: 1rem;
  font-family: var(--font-body);
  margin: 0;
}

body.day-mode {
  --color-title: hsl(var(--color-hue), 8%, 15%);
  --color-text: hsl(var(--color-hue), 8%, 30%);
  --color-text-light: hsl(var(--color-hue), 8%, 65%);
  --color-input: hsl(var(--color-hue), 5%, 100%);
  --color-body: hsl(var(--color-hue), 10%, 97%);
  --color-container: hsl(var(--color-hue), 70%, 85%);
}

h1,
h2,
h3 {
  color: var(--color-title);
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  margin: 0;
  border: none;
  outline: none;
  height: 1px;
  background: var(--color-text);
  opacity: 0.175;
}

html {
  scroll-behavior: smooth !important;
}
