@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");

@font-face {
  font-family: uni-sans;
  font-weight: 500;
  src: url("./assets/fonts/Uni-Sans-Semi-Bold.otf") format("opentype");
}

@font-face {
  font-family: uni-sans;
  font-weight: 800;
  src: url("./assets/fonts/Uni-Sans-Heavy.otf") format("opentype");
}

@font-face {
  font-family: uni-sans;
  font-weight: 400;
  src: url("./assets/fonts/Uni-Sans-Regular.otf") format("opentype");
}

@font-face {
  font-family: uni-sans;
  font-weight: 300;
  src: url("./assets/fonts/Uni-Sans-Light.otf") format("opentype");
}

:root {
  --color-hue: 160;
  --color-black: hsl(0, 0%, 7%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray: hsl(0, 0%, 50%);
  --color-gray-two: hsla(0, 0%, 53%, 0.125);
  --color-gray-three: hsla(0, 0%, 53%, 0.035);
  --color-gray-four: hsl(0, 0%, 65%);

  --color-primary: hsl(var(--color-hue), 80%, 74%);
  --color-primary-two: hsl(var(--color-hue), 55%, 55%);
  --color-primary-light: hsl(var(--color-hue), 90%, 90%);
  --color-title: hsl(var(--color-hue), 0%, 100%);
  --color-text: hsl(var(--color-hue), 8%, 100%);
  --color-text-light: hsl(var(--color-hue), 8%, 100%);
  --color-input: hsl(var(--color-hue), 6%, 15%);
  --color-body: hsl(var(--color-hue), 4%, 10%);
  --color-container: hsl(var(--color-hue), 25%, 20%);

  --font-body: uni-sans, sans-serif;
  --font-text: uni-sans;

  --margin-left: 12.5vw;
  --nav-height: 8rem;
  --width-desktop: 75vw;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  background-color: var(--color-black);
  font-size: 1rem;
  font-family: var(--font-body);
  margin: 0;
}

body.day-mode {
  --color-title: hsl(var(--color-hue), 8%, 15%);
  --color-text: hsl(var(--color-hue), 8%, 30%);
  --color-text-light: hsl(var(--color-hue), 8%, 65%);
  --color-input: hsl(var(--color-hue), 5%, 100%);
  --color-body: hsl(var(--color-hue), 10%, 97%);
  --color-container: hsl(var(--color-hue), 70%, 85%);
}

span {
  display: inline-block;
}

h1,
h2,
h3 {
  line-height: 1;
  color: var(--color-title);
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  margin: 0;
  border: none;
  outline: none;
  height: 1px;
  background: var(--color-text);
  opacity: 0.175;
}

html {
  scroll-behavior: smooth !important;
}
