@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --color-hue: 160;
  --color-primary: hsl(var(--color-hue), 72%, 67%);
  --color-primary-two: hsl(var(--color-hue), 30%, 5%);
  --color-primary-light: hsl(var(--color-hue), 90%, 85%);
  --color-title: hsl(var(--color-hue), 8%, 96%);
  --color-text: hsl(var(--color-hue), 8%, 70%);
  --color-text-light: hsl(var(--color-hue), 8%, 82%);
  --color-input: hsl(var(--color-hue), 6%, 15%);
  --color-body: hsl(var(--color-hue), 4%, 10%);
  --color-container: hsl(var(--color-hue), 25%, 20%);

  --font-body: "Poppins", sans-serif;

  --width-desktop: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  background-color: var(--color-body);
  font-size: 1rem;
  font-family: var(--font-body);
  margin: 0;
}

body.day-mode {
  --color-primary-two: hsl(var(--color-hue), 55%, 55%);
  --color-title: hsl(var(--color-hue), 8%, 15%);
  --color-text: hsl(var(--color-hue), 8%, 30%);
  --color-text-light: hsl(var(--color-hue), 8%, 65%);
  --color-input: hsl(var(--color-hue), 5%, 100%);
  --color-body: hsl(var(--color-hue), 10%, 98%);
  --color-container: hsl(var(--color-hue), 70%, 85%);
}

h1,
h2,
h3 {
  color: var(--color-title);
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth !important;
}
